@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #2B3233;
}
body, html, div, input, button, label, textarea, panel {
  display: block;
  margin: 0;
  box-sizing: border-box;
  width: 100%;

  font: 14px 'Roboto', sans-serif;
  line-height: 2em;
}
input {
  padding: 0 0.5em;
  font-family: 'Roboto Mono', monospace;
  border: 1px solid #7C9194;
}
label {
  text-align: center;
  margin-top: 0.5em;
  overflow-x: auto;
  height: 2em;
  white-space: nowrap;
}
button {
  cursor: pointer;
  overflow-x: auto;
  padding: 0 1em;
  background: white;
  border: 1px solid #7C9194;
}

.loading {
  background-image: url(https://loading.io/assets/img/triangle.svg);
  background-repeat: repeat;
  background-size: 33%;
}
.loading * {
  display: none;
}

panel {
  width: 20%;
  float: left;
  height: 100%;
  transition: all 0.5s ease-out;
  box-shadow: 2px 10px 20px 0px black;
}
.panelinside {
  position: relative;
  padding: 2em;
  height: 100%;
  box-shadow: -10px 0px 20px 0px black;
}
panel[name=left] .panelinside {
  background-color: #F4F7F0;
  z-index: 5;
}
panel[name=leftmiddle] {
  margin-left: -20%;
}
panel[name=leftmiddle] .panelinside {
  background-color: #F2EEE3;
  z-index: 4;
}
panel[name=middle] {
  margin-left: -20%;
}
panel[name=middle] .panelinside {
  background-color: #C9D7D8;
  z-index: 3;
}
panel[name=error] {
  margin-left: -20%;
}
panel[name=error] .panelinside {
  background-color: #F2DBC9;
  z-index: 2;
}
panel[name=rightmiddle] {
  margin-left: -20%;
}
panel[name=rightmiddle] .panelinside {
  background-color: #9BABB2;
  z-index: 1;
}
panel[name=right] {
  width: 40%;
  position: absolute;
  right: -20%;
}
panel[name=right]:hover {
  right: 0;
}
panel[name=right] .panelinside {
  background-color: #7C9194;
  color: white;
  z-index: 6;
  box-shadow: 5px 0px 20px 0px black;
}

.buttonList {
  margin-top: 0.5em;
  overflow-y: auto;
  max-height: 90%;
}
#error {
  font-family: 'Roboto Mono', monospace;
}
#text {
  width: 100%;
  height: 90%;
  padding: 0 0.5em;
}